.product-section {
  padding: 60px 40px;
  text-align: center;
}

.product-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  font-family: "Playfair Display";
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  cursor: pointer;
  transition: 0.3s;
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.product-card:hover {
  transform: scale(1.03);
}
