.hero-slider {
  width: 100%;
  height: 70vh;
  position: relative;
}

.slide-img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  filter: brightness(0.75);
}

.slide-text {
  position: absolute;
  bottom: 18%;
  left: 10%;
  color: white;
}

.slide-text h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
}

.slide-text p {
  font-size: 1.3rem;
  margin-top: 10px;
}
.hero-slider {
  margin-top: 0; /* remove any spacing */
}

.slide-img {
  filter: brightness(0.65); /* darkens for readable text */
}
