/* Open Sans |Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root variables */
:root {
    /* font families */
  --font-open-sans: 'Open Sans', sans-serif;
  --font-oswald: 'Oswald', sans-serif;

  /* colors */
  --light-black:#2d2c2c;
  --light-white:#f7f7f7;
  --brown:#6f5e4d;
  --bg-coffee:#642f21;
  --white:#fff;
  --black:#1f1f1f;
  --dark-brown:#2c2117;
  --green:#21342d;
  --beige:#615344;

}

html,
body {
  margin: 0;
  padding: 0;
  
}