/* HERO + STORY WRAPPER */
.about-hero-wrapper {
  min-height: 120vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding-bottom: 120px;
}

/* DARK OVERLAY */
.about-hero-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

/* HERO TEXT */
.about-hero-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 150px 30px 80px;
  max-width: 800px;
  margin: auto;
}

.about-hero-overlay h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.about-hero-overlay p {
  font-size: 1.1rem;
}

/* STORY CARD ON SAME IMAGE */
.about-story {
  position: relative;
  z-index: 2;
  background: #000000;
  color: #ffff;
  max-width: 900px;
  margin: 80px auto 120px;
  padding: 60px;
  border-radius: 10px;
}

.about-story h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}

/* SECTIONS */
.about-section {
  position: relative;
  z-index: 0;
  padding: 80px 120px;
}

.about-section.dark {
  background: #0f0e0e;
  color: rgb(255, 255, 255);
}

.about-section.light {
  background: #272626;
  color: #f0f0f0;
}
.about-section h2 {
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.about-section p {
  max-width: 900px;
  line-height: 1.8;
}

.about-page {
  font-family: "Poppins", sans-serif;
}

/* ARTISANS */
.artisan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.artisan-card {
  background: #868080;
  padding: 40px;
  text-align: center;
  font-weight: 500;
}

.artisan-card img {
  width: 290px;
  height: 290px;
  border-radius: 5%;
  object-fit: cover;
  margin-bottom: 2px;
}

/* MEDIA */
.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.media-box {
  background: #000000;
  color: rgb(255, 255, 255);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-box video {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.media-box span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-size: 1rem;
  z-index: 2;
}

/* WHY */
.why-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.why-list li {
  margin-bottom: 12px;
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-section {
    padding: 60px 30px;
  }

  .timeline,
  .artisan-grid,
  .media-grid {
    grid-template-columns: 1fr;
  }

  .about-hero h1 {
    font-size: 2.2rem;
  }
}
