* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #2b2b2b;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  /* display: block; */
}
